<div class="container">
  <h1>Register</h1>
  <hr>

  <label for="psw"><b>Name</b></label>
  <input [(ngModel)]="prop.name" type="text" placeholder="Enter name" name="psw" id="psw" required>

  <label for="email"><b>Email</b></label>
  <input [(ngModel)]="prop.email" type="text" placeholder="Enter Email" name="email" id="email" required>

  <label for="psw"><b>Password</b></label>
  <input [(ngModel)]="prop.password" type="password" placeholder="Enter Password" name="psw" id="psw" required>

  <button type="submit" (click)="Register()" class="registerbtn">Register</button>
</div>

<div class="container signin">
  <p>Already have an account? <span [routerLink]="['/login']">Sign in</span>.</p>
</div>