<div class="container">
  <h1>Login</h1>
  <hr>

  <label for="email"><b>Email</b></label>
  <input [(ngModel)]="prop.email" type="text" placeholder="Enter Email" name="email" id="email" required>

  <label for="psw"><b>Password</b></label>
  <input [(ngModel)]="prop.password" type="password" placeholder="Enter Password" name="psw" id="psw" required>

  <button type="submit" (click)="Login()" class="registerbtn">Login</button>
</div>

<div class="container signin">
  <p>Haven`t an account? <span [routerLink]="['/']">Register</span>.</p>
</div>