.container {
    height: 799px;
  }
  .signin{
  font-size: 18px;  
  color: grey;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .registerbtn {
    background-color: #ddb7ac;
    color: white;
    padding: 8px 10px;
    font-size: 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity:1;
  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .coin{
    margin-left: 20px;
    padding: 7px 35px;
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url(https://localhost:44388/Images/money.jpeg);
  }

  .BTB{
    font-size: 22px;
    margin-bottom: 100px;
    line-height: 1.2;
    text-transform: uppercase;
  
     color: #ffffff;
      font-size: 15px;
      letter-spacing: 2px;
      padding: 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      background-color: transparent;
  }
  
  .HappyDog{ 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rajdhani', sans-serif;  
    font-size: 20px;
  }
  
  .navbar{
    width: 100%;
    height: 75px;   
    background-image: linear-gradient(to right, #81856e, #c2b2a8, #dab38c);
  }
  .navbar-left{
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .navbar-center{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-right{
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-text{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 3px;   
    font-family: "Open Sans", Arial, sans-serif;
    float: left;
  }
  
  .hover:hover{
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    cursor: pointer;
    transition: 0.15s;
    text-decoration: underline;
  }
  
  .separator{
    width: 15px;
  }
  .mainButton{
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    outline: none;
    border-radius: 4px;
    border: 2px solid white;
    padding: 0.675rem 1.2rem;
    margin-top: 50px;
  }
  .mainButton:hover{
    color: black;
    background-color: white;
    transition: 0.4s;
  }
  .Wm{
    margin: 0;
  }
  
  .main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #81856e, #c2b2a8, #dab38c);
    background-size: cover;
  }

  .part{
    width: 100%;
    height: 862px;
    background-image: linear-gradient(to right, #81856e, #c2b2a8, #dab38c);
  }
  .register-form{
    width: 100%;
    height: 60%;
  }
  .bottom{
    width: 100%;
    height: 20%;
  }
  .inner-form{
    margin-top: 2%;
    width: 40%;
    margin-left: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
  }

  .profile{
    letter-spacing: 2px;
    margin-right: 20px;
}
.profile:hover{
    cursor: pointer;
    transition: 0.15s;
    text-decoration: underline;
}

.left-part{
    width: 50%;
    height: 100%;
    float: left;
}

.inner-left-part{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.045);
}

.photoPart{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.infoPart{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Lphoto{
    margin-top: 50px;
    width: 280px;
    height: 340px;
    background-color: cornsilk;
    background-image: url(https://localhost:44388/Images/default.jpg);  
    background-size:cover;
    border-radius: 10px;
}

.textInfo{
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  width: 70%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 60px;
  background-color: transparent;
  
  border-bottom: solid 2px rgba(0, 0, 0, 0.18) !important;
  border: none;
  outline: 0;
  text-align: center;
}
.inner-right-part{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.055);
}
.top-text{
  width: 100%;
  text-align: center;

    color: #e2e2e2;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    padding-top: 40px;
}

.image-part{
  width: 100%;
  height: 35%;
}
.image{
  height: 92%;
  width: 48%;
  float: left;
  background-color: rgba(0, 0, 0, 0.3);
}
.game-help-info{
  height: 92%;
  float: left;
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #e2e2e2;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Open Sans", Arial, sans-serif;
}

.answer-part{
  height:22%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.answer{
  color: #e2e2e2;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0px 30px;

  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.062);
}
.answer:hover{
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 0px 28px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.651);
  transition: 0.1s;
  cursor:-webkit-grabbing;
}

.times{
  font-size: 24px;
  font-family: 'New Tegomin', serif;
}

.last-part{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.YourAnswer{
  color: #e2e2e2;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Courgette', cursive;
  font-family: 'Noticia Text', serif;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-right: 50px;
}

.myAnswer{
  color: #e2e2e2;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Courgette', cursive;
  font-family: 'Noticia Text', serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Quattrocento Sans', sans-serif;
  filter: drop-shadow(0 0 0.5px rgb(255, 255, 255));
  margin-right: 60px;

}