<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Petcare a Animals & Pets  Category Flat Bootstarp responsive Website Template| HOME :: w3layouts</title>
<!--bootstarp-css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--/bootstarp-css -->
<!--css-->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--/css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Petcare Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--fonts-->
<!--/fonts-->


</head>
<body>
<div class="dogs-food">
	<div class="container">
		<div class="dogs-food-top-info">
		<div class="dogs-food-top">
			<div class="col-md-4 dogs-food-info">
				<img src="images/dg-1.png">
				<h4>CARE</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					 <a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="images/dg-2.png">
				<h4>CARE-+</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="images/dg-3.png">
				<h4>TRAVEL</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="images/dg-4.png">
				<h4>FRIEND-SHIP</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
				<div class="col-md-4 dogs-food-info">
					<img src="images/dg-5.png">
					<h4>DOG-HOME</h4>
					<p>when an unknown printer took a galley of
						 type and scrambled it to make a type speci
						men book</p>
						<a class="dogs-top-food" href="#">More</a>
				</div>
				<div class="col-md-4 dogs-food-info">
					<img src="images/dg-6.png">
					<h4>DOG-FOOD</h4>
					<p>when an unknown printer took a galley of
						 type and scrambled it to make a type speci
						men book</p>
						<a class="dogs-top-food" href="#">More</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

</body>
</html>