.HappyDog{ 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rajdhani', sans-serif;  
    font-size: 20px;
  }
  
  .navbar{
      height: 75px;
    width: 100%; 
    background-image: linear-gradient(to right, #81856e, #c2b2a8, #dab38c);
  }
  .navbar-left{
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .navbar-center{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-right{
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-text{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 3px;   
    font-family: "Open Sans", Arial, sans-serif;
    float: left;
  }
  
  .hover:hover{
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    cursor: pointer;
    transition: 0.15s;
    text-decoration: underline;
  }
  
  .separator{
    width: 15px;
  }
  .mainButton{
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    outline: none;
    border-radius: 4px;
    border: 2px solid white;
    padding: 0.675rem 1.2rem;
    margin-top: 50px;
  }
  .mainButton:hover{
    color: black;
    background-color: white;
    transition: 0.4s;
  }
  .Wm{
    margin: 0;
  }
  
  .main{
    width: 100%;
    background-image: linear-gradient(to right, #81856e, #c2b2a8, #dab38c);
    background-size: cover;
  }

  .profile{
    letter-spacing: 2px;
    margin-right: 20px;
}
.profile:hover{
    cursor: pointer;
    transition: 0.15s;
    text-decoration: underline;
}

.conteiner{
    height: 862px;
    width: 100%;
}

.menu{
    height: 100%;
    float: left;
    width: 14%;
    margin-left: 11%;
    background-color: rgba(0, 0, 0, 0.075);
}
.context{
    width: 64%;
    background-color: rgba(0, 0, 0, 0.075);
    height: 100%;
    float: left;
    
    overflow: scroll;
    overflow-x: hidden;
}

.hr1{
    width: 100%;
    border: 0;
    padding: 0;
    height: 2.5px;
    background: rgb(255, 255, 255, 0.7);    
    margin-top: 6px;
}

.manu-part{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px dashed rgba(255, 255, 255, 0.7);  
   /* border-right: 2px dashed rgba(255, 255, 255, 0.7);  */
}
.menu-text{
    color: whitesmoke;
    font-size: 22px;
    letter-spacing: 4px;  
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    font-family: "Open Sans", Arial, sans-serif;
}

.menu-text:hover{
  filter: drop-shadow(0 0 50px rgb(255, 255, 255));
  cursor: pointer;
  text-decoration: underline;
  transition: 1s;
}

.breed{
    width: 50%;
    height: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px dashed rgba(255, 255, 255, 0.7);  
    border-left: 4px dashed rgba(255, 255, 255, 0.7);  
}
.infocardContainer {
    display: flex;
    height: 290px;
    width: 290px;
    border-radius: 100px;
    background: linear-gradient(121deg, #81856e00 15%, #c2b2a8 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
  }
  .infocardContainer:hover {
    width: 570px;
    border-radius: 100px 0px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer div {
    flex-shrink: 1;
    width: 100%;
  }
  .infocardContainer div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer:hover div *{
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
    height:290px;
    width: 290px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer #main img{
    height: 280px;
    width: 280px;
    transition: none;
    position: relative;
    border: 7px solid whitesmoke;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer #textbois {
    position: relative;
  }
  .infocardContainer #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }

.mainSpan{
    color: whitesmoke;
    margin-top: 30px;
    font-size: 24px;
    letter-spacing: 3px;   
    font-family: "Open Sans", Arial, sans-serif;    
}

.infoSpan{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 15px;    
    letter-spacing: 2px;   
    font-family: "Open Sans", Arial, sans-serif;
}